# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Android/IntelliJ
#
android/build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
android/.idea/
android/.gradle/
android/local.properties